.buttongroup button {
    background-color: #ffba44; 
    border: 1px solid #ff8c4c; 
    /* color: white; White text */
    color: black;
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    margin: auto;
    width: 34%;
  }
  
  .buttongroup button:not(:last-child) {
    border-right: none; /* Prevent double borders */
    width: 33%
  }
  
  /* Clear floats (clearfix hack) */
  .buttongroup:after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Add a background color on hover */
  .buttongroup button:hover {
    background-color: #f44d8a;
  }

  .spacing {
    margin-top: 10px;
  }
